/* ========= Mobile (tot 375px) ========= */
@media (max-width: 375px) {
  /* ==== Header ==== */
  .header__panel {
    justify-content: space-between;
    padding: 1rem 1.5rem;
    gap: 1rem;
  }

  .shop {
    grid-template-areas:
      "title"
      "products"
      "cart";

    grid-template-columns: 1fr;
    padding: 1rem 1.5rem;
  }

  .shop__products {
    grid-template-columns: 1fr;
  }
}

/* ========= Mobile vanaf (376px) ========= */
@media (min-width: 375px) {
  /* ==== Header ==== */
  .header__panel {
    justify-content: space-between;
    padding: 1rem 1.5rem;
    gap: 1rem;
  }

  .shop {
    grid-template-areas:
      "title"
      "products"
      "cart";

    grid-template-columns: 1fr;
    padding: 1rem 1.5rem;
  }

  .shop__products {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cart {
    display: flex;

    width: 100%;
    height: 50px;
  }
}

/* ========= Tablet (768px) ========= */
@media (min-width: 560px) {
  .header__panel {
    padding: 1rem 2.5rem;
  }

  .header__panel > h2 {
    font-size: 1.5em;
  }

  .shop {
    padding: 1rem 2.5rem;
  }

  .shop__products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* padding: 1rem 1.5rem; */
  }
}

/* ========= Desktop (vanaf 1366px) ========= */
@media (min-width: 1366px) {
  .header__panel {
    padding: 1rem 3rem;
  }

  .shop {
    display: grid;
    grid-template-areas:
      "title cart"
      "products cart";
    grid-template-columns: 1fr 500px;
    gap: 2rem;
    padding: 3rem;
  }

  .shop__products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
    justify-items: stretch;
  }
}
