body {
  background-color: var(--color-rose100);
}

.product-card {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-rose50);
  box-shadow: 8px 8px 19px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease, transform 0.5s ease;
}

.product-card:hover {
  /* border: 3px solid var(--color-red); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 6px 20px rgba(255, 182, 193, 0.6);

  transform: translateY(-10px); /* subtiele hover-lift */
}

.product-card__img {
  display: block;
  aspect-ratio: 4/3;
  width: 100%;
  object-fit: cover;
}
.product-card__category {
  color: var(--color-rose500);
}
.product-card__name {
  color: var(--color-rose900);
}
.product-card__price {
  color: var(--color-red);
  font-weight: 600;
}
.product-card__info {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.shop {
  display: grid;
  grid-template-areas:
    "title cart"
    "products cart";
  grid-template-columns: 1fr 500px;
  gap: 2rem;
  padding: 5rem;
}

.shop__title {
  grid-area: title;
}

.shop__products {
  grid-area: products;
}

.shop__cart {
  grid-area: cart;
}

.shop__products {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 1.5rem;
}

.cart {
  position: sticky;
  top: 1rem;
  align-self: start;
  background-color: var(--color-rose50);
  border-radius: 10px;

  width: 300px;
  height: 250px;
}
